.product{
    display: flex;
    gap:10px;
    flex-direction: column;
  }
  .product__image {
    width: 100%;
  }
  
  .product__name {
    font-weight:bold;
  }
  
  .product__priceSale {
    color: red;
  }